
@model ZoekKlantViewModel
@{
    ViewData["Title"] = "Zoekformulier";
}
<h2>Klanten</h2>
<form asp-action="ZoekNaam" method="get">
    <div>
        <label asp-for="Letters"></label>
        <input asp-for="Letters" />
        <span asp-validation-for="Letters" class="text-danger"></span>
    </div> <input type="submit" value="Zoeken" class="btn btn-primary mb-3 mt-2" />
</form>

