@using RetroVideoData.Models;
@model IEnumerable<Film>

@{
    ViewData["Title"] = "Mandje";
}

<h1>Mandje</h1>
@{var totaal = 0m; }
    @if (Model.Count() == 0)
{
    <p>Er zitten geen items in het mandje</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Film</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Titel</td>
                <td>@item.Prijs</td>
                @{totaal += @item.Prijs;} 
            </tr>
            }
            <tr>
                <td>Totale Prijs</td>
                <td>@totaal</td>
            </tr>
        </tbody>
    </table>
}