@using RetroVideoData.Models
@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Index";
}
<h2>Genres</h2>
@foreach( var genre in Model)
{
    <a asp-action="Genre" asp-route-id="@genre.Id">@genre.Naam</a>
}