@using RetroVideoData.Models 
@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Genre";
}

<h1>Genre</h1>
@foreach (var genre in Model)
{
    <a asp-action="genre" asp-route-id="@genre.Id">@genre.Naam</a>
}
